#player-1-score-div {
	text-align: right;
}

#player-2-score-div {
	text-align: center;
}

#main-board {
	background-image: none;
	background-color: black;
}

#main-board-categories{
	background-image: none;
	background-color: black;
	border: none;
	color: white;
}

.score-button-group {
	text-align: center;
}

.control-button-group {
	text-align: center;
	height: 15px
}

.category {
	padding-left: 5px;
	padding-right: 5px;
}

.category-title {
	background-image: none;
	border: none;
	margin-bottom: 10px;


    display: table-cell;
    vertical-align: middle;
    position: relative;

}

.category-text {
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;

}

.well {
	background-image: none;
	background-color: navy;
	border: none;
	margin-bottom: 10px;
	padding: 3px;
}

.question {
	color: goldenrod;
	font-size: 60px;
	font-family: Impact;	
}

.modal-content {
	background-color: navy;
	color: white;
}

body {
	background-color: navy;
	color: white;
}

.panel-footer {
	background-color: navy;
	color: white;
}

.question-text {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 300%;
	text-align: center;
	color: white;
}

#daily-double-modal .modal-footer {
	text-align: center;
}

#timer-grid {
	display: block;
	width: 512px;
	height: 40px;
	position: relative;
	background-color: silver;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}

.timer-square {
	display: inline-block;
	background-color: black; 
	border: 1px solid #000; 
	height: 30px;
	width: 50px;
	position: relative;
}


#game-load-modal-dialog {
	width: 100%;
	padding: 0;
}

#question-modal {
	width: 100vw;
	height: 100vh;
	padding: 0;
}

#question-modal-dialog {
	width: 100vw;
	margin: 0;
}

#question-modal-content {
	height: 100vh;
	border-radius: 0;
}

#question-modal-body {
	margin-left: 10%;
	margin-right: 10%;
}

#game-load-logo-img {
	width: 80%;
	height: 80%;
}

#end-round {
	margin-right: 10px;
}