#player-1-score-div {
	text-align: right;
}

#player-2-score-div {
	text-align: center;
}

#main-board {
	background-color: navy;
}

#main-board-categories{
	background-image: none;
	background-color: navy;
	color: white;
}

.score-button-group {
	text-align: center;
}

#final-jeopardy-question {
	text-align: center;
	color: white;
}

.well {
	background-image: none;
	background-color: navy;
	padding: 3px;
	color: gold;
	font-size: 48px;
}

.modal-content {
	background-color: navy;
	color: white;
}

body {
	background-color: navy;
	color: white;
}

.panel-footer {
	background-color: navy;
	color: white;
}

#daily-double-modal .modal-footer {
	text-align: center;
}