<!doctype html>
<html data-ng-app="jeopardy">
<head>


<!--	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="../bootstrap/dist/css/bootstrap.min.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript" language="Javascript" src="./creator.js"></script>
</head>
<body data-ng-controller="MainCtrl">
    <div class="container">
        <div class="page-header">
            <h1>Game Creator</h1>
        </div>
        <h2>Categories:</h2>
        <div class="panel panel-default" data-ng-repeat="category in game">
            <div class="panel-heading"><input type="text" data-ng-model="category.name"></div>
            <div class="panel-body">
                <h4>Questions</h4>
                <div class="panel panel-default" data-ng-repeat="question in category.questions">
                    <div class="panel-heading"><input type="text" data-ng-model="question.question" style="width:100%"></div>
                    <div class="panel-body">
                        <label for="value">Question Value</label>
                        <input id="value" type="text" data-ng-model="question.value">
                        <table class="table table-bordered">
                            <thead><tr><th>Answer</th><th>Correct?</th></tr></thead>
                            <tbody>
                                <tr data-ng-repeat="answer in question.answers">
                                    <td><input type="text" data-ng-model="answer.text"  style="width:100%"></td>
                                    <td><input type="checkbox" data-ng-model="answer.correct"></td>
                                </tr>
                            </tbody>
                        </table>
                        <label for="answerAdd">Add Answer</label>
                        <input id="answerAdd" type="text" data-ng-model="answerText">
                        <button class="btn" data-ng-click="addAnswer(question)">Add</button>
                    </div>
                </div>
                <label for="questionText">Add Question</label>
                <input type="text" id=questionText data-ng-model="questionText">
                <button class="btn" data-ng-click="addQuestion(category)">Add</button>
            </div>
        </div>
        <label for="categoryName">Add Category</label>
        <input type="text" id=categoryName data-ng-model="categoryName">
        <button class="btn" data-ng-click="addCategory()">Add</button>
    </div>
    <div class="container">
        <h3>Output</h3>
            <pre>
            {{game}}
        </pre>
        <textarea data-ng-model="pre" style="width: 100%">{{game}}</textarea>
        <button class="btn" data-ng-click="load()">Load</button>
    </div>
</body>
</html>